<!DOCTYPE>
<html ng-app="singin">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<title>MEAN Stack Test</title>	
</head>

<body>
	<form name="Container" class="container" ng-controller="SinginCtrl">
		<h1>Registro</h1>

		<table class="table">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Nombre *</td>
					<td>
						<input type="text" name="studentName" class="form-control" ng-model="student.name" required>
						<span style="color:red" ng-show="Container.studentName.$dirty && Container.studentName.$invalid">
	  						<span ng-show="Container.studentName.$error.required">Nombre de usuario requerido.</span>
	  					</span>
  					</td>
				</tr>
				<tr>
					<td>Carné *</td>
					<td>
						<input type="number" class="form-control" ng-model="student.cardNumber" name="studentCard" required>
						<span style="color:red" ng-show="Container.studentCard.$dirty && Container.studentCard.$invalid">
	  						<span ng-show="Container.studentCard.$error.required">Nombre de usuario requerido.</span>
	  					</span>
					</td>
				</tr>
				<tr>
					<td>Email *</td>
					<td>
						<input type="email" class="form-control" ng-model="student.email" name="studentEmail" required>
						<span style="color:red" ng-show="Container.studentEmail.$dirty && Container.studentEmail.$invalid">
						<span ng-show="Container.studentEmail.$error.required">Email is required.</span>
						<span ng-show="Container.studentEmail.$error.email">Invalid email address.</span>
						</span>
					</td>
				</tr>
				<tr>
					<td>Celular</td>
					<td><input type="number" class="form-control" ng-model="student.celNumber"></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<button class = "btn btn-primary" ng-click = "addStudent()" ng-disabled= "Container.studentName.$dirty && Container.studentName.$invalid || 
						Container.studentName.$dirty && Container.studentName.$invalid || Container.studentEmail.$dirty && Container.studentEmail.$invalid">Registrarse</button>
					</td>
				</tr>
			</tbody>
		</table>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="controller.js"></script>
	</form>
</body>
</html>
