<!DOCTYPE>
<html ng-app="singup">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<title>MEAN Stack Test</title>	
</head>

<body>
	<form name="Container" class="container" ng-controller="SingupCtrl">
		<h1>Registro</h1>

		<table class="table">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Nombre Completo *</td>
					<td>
						<input type="text" name="studentName" class="form-control" ng-model="student.name">
  					</td>
				</tr>
				<tr>
					<td>Carné estudiantil *</td>
					<td>
						<input type="number" class="form-control" ng-model="student.cardNumber" name="studentCard" required>
					</td>
				</tr>
				<tr>
					<td>Correo electronico *</td>
					<td>
						<input type="email" class="form-control" ng-model="student.email" name="studentEmail" required>
					</td>
				</tr>
				<tr>
					<td>Contraseña de usuario *</td>
					<td>
						<input type="password" class="form-control" ng-model="student.pass" name="studentPass" required>
					</td>
				</tr>
				<tr>
					<td>Número de celular</td>
					<td>
						<input type="number" class="form-control" ng-model="student.celNumber">
					</td>
				</tr>
				<tr>
					<td>Curso</td>
					<td>
						<select class="form-control" ng-model="student.course" 
						ng-options = "course.courseName for course in courseList" ng-change= "showPreferences(course)"></select>
					</td>
				</tr>
				<tr>
					<td align="right">
						<button class ="btn btn-danger" type="back" ng-click = "goToPath('/')" formnovalidate>Salir</button>
					</td>
					<td>
						<button class ="btn btn-primary btn-block" type="sumit" ng-click ="register()" 
						ng-disabled="Container.studentName.$dirty && Container.studentName.$invalid || 
						Container.studentName.$dirty && Container.studentName.$invalid || 
						Container.studentPass.$dirty && Container.studentPass.$invalid ||
						Container.studentEmail.$dirty && Container.studentEmail.$invalid">Registrarse</button>
					</td>
				</tr>
			</tbody>
		</table>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="controller.js"></script>
	</form>
</body>
</html>
